
@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&family=La+Belle+Aurore&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Finger+Paint&family=Fugaz+One&family=La+Belle+Aurore&display=swap');
*{
    font-family: "Almarai", sans-serif;
    font-size: 16px;
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    scroll-behavior: smooth;
    
}

.home {
    width: 100%;
    height: 100vh;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    color: #ffffff;

}
span{
    color: aqua;
    font-size: 2.2rem;
}
h2{
    font-size: 2.2rem;
    letter-spacing: 0.12rem;
    cursor: pointer;
}
nav{
    padding-top: 2.7rem;
    padding-left: 8%;
    padding-right: 8%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
nav ul li {
    list-style-type: none;
    display: inline-block;
    margin: 0.8rem 1.5rem;
}
nav ul li a {
    color: #ffffff;
    text-decoration: none;
    text-transform: capitalize;
    transition: 0.4s;
}
nav ul li a:hover{
    color: aqua;
}
.btn1{
    background-color: rgb(22, 192, 192);
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 0.81rem 1.87rem;
    border-radius: 30px;
    border: 2px solid transparent;
    transition: 0.4s;
}
.btn1:hover{
    background-color: transparent;
    border: 2px solid aqua;
}
.content1 {
    flex-grow: 1;
    padding: 0  8%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.container-text {
    position: relative;
    bottom: 70px;
}
h1 {
    font-size: 3.75rem;
    margin: 1.7rem 0;

}
h4 {
    font-size: 1.5rem;

}
h3 {
    font-size: 1.25rem;
    margin-bottom: 3.5rem;
}
.social {
    margin-top: 5rem;
    padding-right: 5rem;
}
.social img {
    margin-right: 5.5rem;
    width: 2.5rem;
    transition: 0.4s;
}
.social img:hover {
    transform: scale(1.2);
}
.container-imgs {
    margin-bottom: 120px;
    margin-right: 150px;
    width: 30%;
    height: 65%;
    position: relative;

    align-self: flex-end;
}
.container-imgs img{
    position: absolute;
    bottom: 0;
    height: 100%;
    left: 50%;
    transform: translateX(-40%);
    transition: bottom 1s;
}
.container-imgs:hover .ball {
    bottom: 70px;
}

.Shop {
    width: 100%;
    height: 100vh;
    background-color: #171a1c;
    color: #ffffff;

}
.title {
    display: flex;
    justify-content: center;
    padding-top: 7.5%;
    margin-bottom: 5%;

}
.content2 {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.card {
    background-color: rgb(22, 192, 192);
    width: 21.25em;
    box-shadow: 0 5px 25px rgba(23, 64, 146, 0.75);
    border-radius:  10px;
    padding: 25px;
    margin: 20px;
    transition: 1s;
}
.card:hover {
    transform: scale(1.2);

}
.icon {
    font-size: 15em;
    text-align: center;
    
}
.info {
    text-align: center;
}
.info h3 {
    font-size: 1.2em;
    font-weight: 700;
    margin: 10px;

}
.back {
    margin: 25px;
}

.flogin {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background:#171a1c;
    color: #ffffff;
}
.wrapper {
    position: relative;
    width: 750px;
    height: 450px;
    background: transparent;
    border: 2px solid aqua;
    box-shadow: 0 0 25px aqua;
    overflow: hidden;
}
.wrapper .login {
    position: absolute;
    top: 0;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;


}
.wrapper .login {
    left: 0;
    padding: 0 60px 0 40px;
    display:none;
}

.no {
    font-size: 34px;
    color: #ffffff;
    text-align: center;
}
.login .input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 25px 0;

}
.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 2px solid#ffffff;
    padding-right: 23px;
    font-size: 16px;
    color: #ffffff;
    font-weight: 500;
    transition: .5s;
}
.input-box input:focus,
.input-box input:valid {
    border-bottom-color: aqua;
} 
.input-box label {
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translateY(-50%);
    font-size: 16px;
    color: #ffffff;
    pointer-events: none;
    transition: .5s;
}
.input-box input:focus~label,
.input-box input:valid~label {
    top: -5px;
    color: aqua;
}
.input-box i {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    font-size: 18px;
    color: #ffffff;
    transition: .5s;
}
.input-box input:focus~i,
.input-box input:valid~i {
    border-bottom-color: aqua;
} 


.btn {
    position: relative;
    width: 100%;
    height: 45px;
    background: transparent;
    background-color: aqua;
    border-color: aqua;
    outline: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 16px;
    color: rgb(255, 255, 255);
    font-weight: 600;
    transition: .5s;
}
.btn:hover {
    background-color: transparent;
    border: 2px solid aqua;

}
.login .register{
    font-size: 14.5px;
    color: white;
    text-align: center;
    margin: 20px 0 10px;
}
.register p a {
    color: aqua;
    text-decoration: none;
    font-weight: 600;
}
.register p a:hover {
    text-decoration: underline;
}


.wrapper .info-text {
    position: absolute;
    top: 0%;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.wrapper .info-text.login1 {
    right: 0%;
    text-align: right;
    padding: 0 40px 60px 150px;
    display: none;
}

.info-text .no1 {
    font-family: "Almarai", sans-serif;
    width: 100%;
    font-size: 36px;
    color: #ffffff;
    line-height: 1.3;
    font-weight: 600;
    justify-content: space-between;
}


.info-text .no2 {
    font-size: 16px;
    color: #ffffff;
    text-transform: none;
    
}


.wrapper .bg-animate {
    position: absolute;
    top: -4px;
    right: 0%;
    width: 850px;
    height: 600px;
    background: linear-gradient(45deg, #171a1c,aqua);
    border-bottom: 3px solid aqua;
   /* transform: rotate(10deg) skewY(40deg);*/
    transform: rotate(0) skewY(0);
    transform-origin: bottom right;
}

.wrapper .bg-animate2 {
    position: absolute;
    top: 100%;
    left: 250px;
    width: 850px;
    height: 700px;
    background: #171a1c;
    border-top: 3px solid aqua;
    transform: rotate(-11deg) skewY(-41deg);
    transform-origin: bottom left;
}

/* sgin up */ 
input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
  }
  
  /* Add a background color when the inputs get focus */
  input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }
  
  /* Set a style for all buttons */
  button {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
  }
  
  button:hover {
    opacity:1;
  }
  
  /* Extra styles for the cancel button */
  .cancelbtn {
    padding: 14px 20px;
    background-color: #f44336;
  }
  
  /* Float cancel and signup buttons and add an equal width */
  .cancelbtn, .signupbtn {
    float: left;
    width: 50%;
  }
  
  /* Add padding to container elements */
  .container {
    padding: 16px;
  }
  
  /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: #474e5d;
    padding-top: 50px;
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* Style the horizontal ruler */
  hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
  }
  
  /* The Close Button (x) */
  .close {
    position: absolute;
    right: 35px;
    top: 15px;
    font-size: 40px;
    font-weight: bold;
    color: #f1f1f1;
  }
  
  .close:hover,
  .close:focus {
    color: #f44336;
    cursor: pointer;
  }
  
  /* Clear floats */
  .clearfix::after {
    content: "";
    clear: both;
    display: table;
  }
  
  /* Change styles for cancel button and signup button on extra small screens */
  @media screen and (max-width: 300px) {
    .cancelbtn, .signupbtn {
      width: 100%;
    }
  }

/*coaches bage---------------------------------------------*/

.all {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    background: #94cef5;
}
.slide-container {
    max-width: 1120px;
    width: 100%;
    background-color:   #757ED1;
    padding: 40px 0;
    border-radius: 25px;
     display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 40px;
}

.slide-content {
    margin: 0 40px;
    display: v;
    
}
.cardH {
    border-radius: 25px;
    background-color: rgb(255, 255, 255);
    
} 
.card-content {
    display: block;
    flex-direction: column;
    align-items: center;
    padding: 10px 14px;
}
.image-content {
    position: relative;
    row-gap: 5px;   
    padding: 25px 0;
    padding-left: 81px;
}

.overlay {
    position: absolute;
    left: 0%;
    top: 0%;    
    height: 100%;
    width: 100%;
    background-color: #171a1c;
    border-radius: 0 0 25px 0;
}
.overlay::before,

.overlay::after{
    content: '';
    position: absolute;
    left: 0%;
    bottom: -40px;
    right: 40px;
    width: 40px;
    background-color: red;
}
.overlay::after{
    border-radius: 0 25px 0 0;
    background-color: aqua;
}

.card-image {
    position: relative;
    height: 150px;
    width: 150px;
    padding-right: 50px;
    border-radius: 50%;
    padding: 3px;
    
}

.card-image .card-img {
    width: 100%;
    height: 100%;
    
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid rgb(14, 160, 160);
}
.name {
    font-size: 20px;
    font-weight: 500;
    color: #000000;
    text-align: center;
}
.description {
    font-size: 14px;
    color: #707070;
    text-align: center;
}
.button {
    background-color: rgb(22, 192, 192);
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-weight: bold;
    padding: 0.81rem 1.87rem;
    border-radius: 30px;
    margin: 14px;
    border: 2px solid transparent;
    transition: 0.4s;
}
.button:hover{
    background-color: transparent;
    border: 2px solid aqua;
}



/*-----------coaches bage 2 *---------------*/

/* The hero image */
.hero-image1 {
    /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
    background-image:  url("img/gavi.jpg");
  
    /* Set a specific height */
    height: 50%;
  
    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  
  /* Place text in the middle of the image */
  .hero-text1 {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
  }
.about {
    width: 100%;
    
    padding: 78px 0;
    background-color: #171a1c;
}


.about img{

    height: auto;
    width: 420px;

}

.about-text {
    width: 550px;

}

.main {
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.about-text h1 {
    color: #B3C8CF;
}
.about-text h5 {
    color: aqua;
    font-size: 25px;
    text-transform: capitalize;
    margin-bottom: 25px;
    letter-spacing: 2px;
}
.about-text p {
    color:#B3C8CF ;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;
}

/*-----------Sport Supplies *---------------*/

.bomb {
    background: #B3C8CF;
    
}

.gallery .koo {
    text-align: center;
    font-size: 30px;
    margin: 0%;
    padding: 10px;
}
.gallery {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
    
}
.content3 {
    width: 20%;
    margin: 15px;
    box-sizing: border-box;
    float: left;
    text-align: center;
    border-radius: 20px;
    cursor: pointer;
    padding-top: 10px;
    box-shadow: 0 14px 28px rgba(0 0,0,0.25), 0 10px 10px rgba(0 0,0,0.22);
    transition: .4s;
    background: #171a1c;
}

.gallery .alahly {
    width: 100%;
    height: 100%;
    border-radius: 25px;
    text-align: center;
    margin: 0 auto;
    display: block;
}
.content3:hover{
    box-shadow: 0 30px 6px rgba(0 0,0,0.16), 0 3px 6px rgba(0 0,0,0.23);
    transform: translate(0px -8px);
}
.h6 {
    font-size: 26px;
    text-align: center;
    color: #000000;
    margin: 0;
}


.AboutUs{   
    background-color: #171a1c;

}

.hadeing{
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: 20px auto;
    color: #ffffff;
}


.hadeing h1{
    font-size: 50px;
    margin-bottom: 25px;
    position: relative;
}


.hadeing h1::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    display: block;
    margin: 0 auto;
    background-color: aqua  ;
}

.hadeing p{
    font-size: 18px;
    margin-bottom: 35px;

}

.container4{
    width: 90%;
    margin: 0 auto;
    padding: 10px 20px;
}

.about{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.about-image{
    flex: 1;
    margin-right: 20px;
    overflow: hidden;

}

.about-image img{
    max-width: 100%;
    height: auto;
    display: block;
    transition: 0.5s ease;
}

.about-image:hover img{
    transform: scale(1.2);
}


.about-content{
    flex: 1;
}

.about-content h2{

    font-size: 32px;
    margin-bottom: 15px;
    color: #ffffff;

}
.about-content p{
    font-size: 18px;
    line-height: 1.5;
    color: #ffffff;
    margin-bottom: 30px;
}



